img{
    width:250px;
    border-radius: 5px;
    border-width: 10px;
    border-color: crimson;
    padding: 20px;

}
body{
    background-position: center;
    background-size: cover;
    font-size: 22px;
    font-family: cursive;
    color:wheat;
}
.copy_right_footer
  {
    position:fixed;
    color:blue;
    background-color: rgb(238, 255, 162);
    bottom:0;
    text-align: center;
    width:100%;
    line-height: 3;
    font-size: 10px;
    font-family: cursive;
    margin-top: 10px;
  }


.test_img
{
    background-color: rgba(0, 255, 255, 0.363);
    border-radius: 5px;
    margin: 10px;
    width: 90%;
    
}
#gg
{
    text-align: center;
    color:white;
    size:35px;
}